{% extends 'core/base.html' %}
{% block content %}
    <div class="container mt-5">
        <h1 class="text-warning mb-5 border-bottom">SERVICES</h1>

        <div class="row text-center text-white mt-5">
            <div class="col-sm-4">
                <i class="i-col fas fa-search-dollar fa-2x mb-3"></i>
                <h3 class="i-col">SEO</h3>
                <p class="ss-col">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odit, quos!</p>
            </div>
            <div class="col-sm-4">
                <i class="i-col fas fa-palette fa-2x mb-3"></i>
                <h3 class="i-col">WEB DEVELOPMENT</h3>
                <p class="ss-col">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odit, quos!</p>
            </div>
            <div class="col-sm-4">
                <i class="i-col fas fa-code fa-2x mb-3"></i>
                <h3 class="i-col">WEB DESIGN</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odit, quos!</p>
            </div>
        </div>

        <div class="row text-center text-white mt-5">
            <div class="col-sm-4">
                <i class="i-col fas fa-search-dollar fa-2x mb-3"></i>
                <h3 class="i-col">SEO</h3>
                <p class="ss-col">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odit, quos!</p>
            </div>
            <div class="col-sm-4">
                <i class="i-col fas fa-palette fa-2x mb-3"></i>
                <h3 class="i-col">WEB DEVELOPMENT</h3>
                <p class="ss-col">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odit, quos!</p>
            </div>
            <div class="col-sm-4">
                <i class="i-col fas fa-code fa-2x mb-3"></i>
                <h3 class="i-col">WEB DESIGN</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odit, quos!</p>
            </div>
        </div>

        <div class="row text-center text-white mt-5">
            <div class="col-sm-4">
                <i class="i-col fas fa-search-dollar fa-2x mb-3"></i>
                <h3 class="i-col">SEO</h3>
                <p class="ss-col">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odit, quos!</p>
            </div>
            <div class="col-sm-4">
                <i class="i-col fas fa-palette fa-2x mb-3"></i>
                <h3 class="i-col">WEB DEVELOPMENT</h3>
                <p class="ss-col">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odit, quos!</p>
            </div>
            <div class="col-sm-4">
                <i class="i-col fas fa-code fa-2x mb-3"></i>
                <h3 class="i-col">WEB DESIGN</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odit, quos!</p>
            </div>
        </div>
    </div>
{% endblock content %}